@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Fazenda Urbana, Teto Verde!</h1>
    <p>Sistema de Controle de Cadastro</p>
    <img class="img" src="IMG/img tela cadastro.svg" width="20%" />
</div>

<div class="container">

    
    <div class="card">
        <h2>Sobre Nós</h2>
        <p>A Teto Verde é uma empresa dedicada à agricultura urbana, promovendo práticas sustentáveis e integrando o verde nas áreas urbanas. Nossa missão é transformar a paisagem urbana com fazendas que fornecem alimentos frescos e saudáveis diretamente para a comunidade.</p>
    </div>
    <div class="card">
        <h2>Serviços</h2>
        <p>Oferecemos as melhoras verduras organicas da Região.</p>
    </div>
    <div class="card">
        <h2>Contato</h2>
        <p>Email: contato@tetoverde.com.br</p>
        <p>Telefone: (11) 1234-5678</p>
    </div>
</div>


